# Application Configuration
PORT=
HOST=
ENV=

# Google Gemini API Config
GEMINI_API_KEY=

# Pinecone Vector Database Config
PINECONE_API_KEY=
PINECONE_ENV=

# Mock Secrets / External tokens
HR_EMAIL=
SMTP_TOKEN=
CALENDAR_TOKEN=

# SMTP Server Configurations
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# Notification Contacts
CHAIRPERSON_EMAIL=
IDCARD_EMAIL=
IT_EMAIL=

# Supabase Config
SUPABASE_URL=
SUPABASE_KEY=

SENDGRID_API_KEY=